* {
    padding: 0px;
    border: 0px;
    margin: 0px;
    text-decoration: none;
    color: white;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

#cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    height: 100%;
}

#logo {
    width: 150px;
}

#logo img {
    width: 80px;
}

#iconeMenu {
    display: none;
    flex-direction: column;
    gap: 5px;
    width: 30px;
    height: 20px;
    background: none;
}

#iconeMenu hr {
    width: 100%;
    height: 3px;
    background-color: white;
}

#menuCelular {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 60%;
    height: 50%;
    background-color: #A80000;
    border-radius: 20px;
}

#menu {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 20px;
}

#menu a {
    display: flex;
    align-items: center;
    height: 50%;
}

#menu a:hover {
    border-bottom: solid 2px #A80000;
}

#redesSociais {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
}

#redesSociais img {
    width: 30px;
}

#redesSociais img:hover {
    transform: scale(1.2);
}

/* Principal da pagina */

#pesquisa {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

form {
    display: flex;
    justify-content: center;
    width: 90%;
    max-width: 1200px;
    gap: 10px;
}

#procurar {
    width: 100%;
    max-width: 600px;
    height: 30px;
    border: none;
    border-radius: 10px;
    padding-left: 20px;
    color: black;
}

#procurar:focus {
    outline: none;
    border: solid #A80000 3px;
}

#procurar:focus::placeholder {
    color: transparent;
}

#lupa {
    width: 80px;
    height: 30px;
    background-color: #A80000;
    border: none;
    border-radius: 10px;
    color: white;
}

#todasMusicas {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#nomeMusicas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 80%;
    gap: 10px;
}

#nomeMusicas a div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 200px;
    height: 200px;
    border-radius: 5px;
    gap: 10px;
}

#nomeMusicas a div p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: black;
}





/* Redimencionar pagina */

@media (max-width:800px) {

    #cabecalho {
        width: 80%;
    }

    #iconeMenu {
        display: flex;
    }

    #menu,
    #redesSociais {
        display: none;
    }

}

@media (max-width:420px) {

    /* Principal da pagina */

    #procurar {
        width: 200px;
    }

    #nomeMusicas {
        width: 300px;
    }

    #nomeMusicas a div {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;
        height: 50px;
    }

    #nomeMusicas img {
        width: 40px;
    }

    #nomeMusicas img,
    p {
        padding: 20px;
    }

    #nomeMusicas {
        flex-direction: column;
    }
}