* {
    text-decoration: none;
    color: white;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
    background-color: black;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
}

#cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    height: 100%;
}

#logo img {
    width: 100px;
}

#menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}

#redesSociais {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
}

#redesSociais img {
    width: 30px;
}

/* Corpo */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
}

#direita img {
    width: 300px;
}