body {
    background-color: #E3C9B2;
}

body a{
    color: black;
    text-decoration: none;
}

header {
    display: flex;
    color: black;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    align-items: center;
    gap: 300px;
}

#cabecalho {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

#logo {
    width: 200px;
}

#logo img {
    margin-top: 26px;
}

#menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: 40px 40px 0 40px;
    justify-items: right;
    font-weight: 600;
    gap: 30px;
}

#menu a {
    background: none;
    border: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: large;
    height: 30px;
}

#menu a:hover {
    border-bottom: solid 2px #A80000;
}

#redesSociais {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 200px;
}

#redesSociais img {
    width: 24px;
}

/* Principal da pagina */

#principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pesquisa {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

#pesquisa input {
    width: 600px;
    height: 30px;
    border: none;
    border-radius: 10px;
}

#todasMusicas {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#nomeMusicas {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 80%;
}

#nomeMusicas a div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

#nomeMusicas a div p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}





/* Redimencionar pagina */

@media (max-width:400px) {
    #logo {
        display: flex;
    justify-content: center;
    align-items: center;
        width: 30px;
    }

    #logo img {
        width: 50px;
    }

    #menu {
        display: none;
    }

    #redesSociais {
        width: 200px;
    }
    
    #redesSociais img {
        width: 20px;
    }

    /* Principal da pagina */

    #pesquisa input {
        width: 300px;
    }

    #nomeMusicas {
        width: 300px;
    }

    #nomeMusicas a div {
        background-color: white;
        width: 100%;
        height: 50px;
    }

    #nomeMusicas {
        flex-direction: column;
    }

}

